In [1]:
import pandas as pd
df = pd.read_csv('C:/Users/yfeng/Desktop/cps/Sep_17_new_Q1_low_wage_report/occly_q1_q4_move_result_without_insurance_8623_10.24.csv')

In [2]:
df.AGE.value_counts().sort_index()

18    140
19    119
20    144
21    145
22    168
23    162
24    186
25    181
26    189
27    187
28    190
29    198
30    209
31    203
32    189
33    192
34    211
35    214
36    189
37    197
38    247
39    212
40    205
41    221
42    229
43    222
44    224
45    230
46    245
47    241
48    254
49    247
50    255
51    213
52    197
53    224
54    202
55    218
56    199
57    183
58    205
59    176
60    161
Name: AGE, dtype: int64

In [3]:
df.YEAR.value_counts().sort_index()

2010    1042
2011    1085
2012    1155
2013    1185
2014    1122
2015    1087
2016    1010
2017     937
Name: YEAR, dtype: int64

# create male, female, occ_group, education, white, full-time,, IND_merge, Lancaster

In [4]:
df.loc[df['SEX']==1, 'male'] = 1
df.loc[df['SEX']!=1, 'male'] = 0
df.loc[df['male']==1, 'female'] = 0
df.loc[df['male']==0, 'female'] = 1

In [5]:
# group occly
df.loc[df['OCCLY']==0, 'occ_group'] = 0
df.loc[(df['OCCLY']>0) & (df['OCCLY']<=430), 'occ_group'] = 1
df.loc[(df['OCCLY']>=500) & (df['OCCLY']<=740), 'occ_group'] = 2
df.loc[(df['OCCLY']>=800) & (df['OCCLY']<=950), 'occ_group'] = 3
df.loc[(df['OCCLY']>=1000) & (df['OCCLY']<=1240), 'occ_group'] = 4
df.loc[(df['OCCLY']>=1300) & (df['OCCLY']<=1560), 'occ_group'] = 5
df.loc[(df['OCCLY']>=1600) & (df['OCCLY']<=1965), 'occ_group'] = 6
df.loc[(df['OCCLY']>=2000) & (df['OCCLY']<=2060), 'occ_group'] = 7
df.loc[(df['OCCLY']>=2100) & (df['OCCLY']<=2160), 'occ_group'] = 8
df.loc[(df['OCCLY']>=2200) & (df['OCCLY']<=2550), 'occ_group'] = 9
df.loc[(df['OCCLY']>=2600) & (df['OCCLY']<=2960), 'occ_group'] = 10
df.loc[(df['OCCLY']>=3000) & (df['OCCLY']<=3540), 'occ_group'] = 11
df.loc[(df['OCCLY']>=3600) & (df['OCCLY']<=3655), 'occ_group'] = 12
df.loc[(df['OCCLY']>=3700) & (df['OCCLY']<=3955), 'occ_group'] = 13
df.loc[(df['OCCLY']>=4000) & (df['OCCLY']<=4160), 'occ_group'] = 14
df.loc[(df['OCCLY']>=4200) & (df['OCCLY']<=4250), 'occ_group'] = 15
df.loc[(df['OCCLY']>=4300) & (df['OCCLY']<=4650), 'occ_group'] = 16
df.loc[(df['OCCLY']>=4700) & (df['OCCLY']<=4965), 'occ_group'] = 17
df.loc[(df['OCCLY']>=5000) & (df['OCCLY']<=5940), 'occ_group'] = 18
df.loc[(df['OCCLY']>=6005) & (df['OCCLY']<=6130), 'occ_group'] = 19
df.loc[(df['OCCLY']>=6200) & (df['OCCLY']<=6765), 'occ_group'] = 20
df.loc[(df['OCCLY']>=6800) & (df['OCCLY']<=6940), 'occ_group'] = 21
df.loc[(df['OCCLY']>=7000) & (df['OCCLY']<=7630), 'occ_group'] = 22
df.loc[(df['OCCLY']>=7700) & (df['OCCLY']<=8965), 'occ_group'] = 23
df.loc[(df['OCCLY']>=9000) & (df['OCCLY']<=9750), 'occ_group'] = 24
df.loc[df['OCCLY']==9840, 'occ_group'] = 25

In [6]:
#four_year_college
df.loc[df['EDUC'].isin([123,111,125,124]),'education']=4
# som_college
df.loc[df['EDUC'].isin([80,90,100,110,120,122,81,92,91]),'education']=3
#high_school
df.loc[df['EDUC']==73,'education']=2
# less than high school
df.loc[~df['education'].isin([4,2,3]),'education']=1

In [7]:
# race
df.loc[df['RACE'] == 100, 'race2'] =1
df.loc[df['RACE'] == 200, 'race2'] = 2
df.loc[df['RACE'] == 651, 'race2'] = 3
df.loc[~df['RACE'].isin([100,200,651]), 'race2'] = 4

In [8]:
# Full-time >= 30
# create full-time status
# df.UHRSWORKT
df.loc[df['UHRSWORKT'].isin([997,999])| (df['UHRSWORKT']<30), 'full_time_status']=0
df.loc[(df['UHRSWORKT']>=30)& (~df['UHRSWORKT'].isin([997,999])), 'full_time_status']=1

In [9]:
# indly_merge
df.INDLY.value_counts().sort_index()

170.0      40
180.0      27
290.0       1
370.0       1
390.0       1
470.0       6
490.0       6
570.0      17
580.0      12
590.0       2
670.0      15
680.0      14
770.0     462
1070.0      4
1080.0     19
1090.0     15
1170.0      9
1180.0     14
1190.0     20
1270.0     14
1280.0     14
1290.0      1
1370.0     10
1390.0      2
1480.0      4
1590.0      5
1670.0      2
1680.0     10
1770.0      1
1790.0      2
         ...
8570.0     14
8580.0      3
8590.0     97
8660.0     51
8670.0      6
8680.0    545
8690.0     15
8770.0     92
8780.0      8
8790.0      9
8870.0     21
8880.0      3
8980.0     50
8990.0     16
9070.0     14
9080.0      4
9090.0     18
9160.0     60
9170.0     36
9180.0      5
9190.0     11
9290.0     30
9370.0     65
9380.0     32
9390.0      6
9470.0    166
9480.0     65
9490.0      7
9570.0     33
9590.0     31
Name: INDLY, Length: 254, dtype: int64

In [10]:
df.loc[df.INDLY.isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, Unnamed: 0.1.1, YEAR, SERIAL, MONTH, HWTFINL, CPSID, ASECFLAG, HFLAG, ASECWTH, STATEFIP, COUNTY, PERNUM, WTFINL, CPSIDP, ASECWT, AGE, SEX, RACE, MARST, EMPSTAT, OCC, OCC2010_x, IND, CLASSWKR, UHRSWORKT, EDUC, EDUC99, EDDIPGED, OCCLY, INDLY, OCC90LY, IND90LY, OCC10LY, CLASSWLY, WORKLY, WKSWORK1, UHRSWORKLY, WKSUNEM1, WKXPNS, INCTOT, INCWAGE, PAIDGH, EMCONTRB, JTOCC, HOURWAGE, EARNWEEK, UHRSWORKORG, WKSWORKORG, OCC2010_y, PRESGL, PRENT, quartile, move_result, counts, male, female, occ_group, education, race2, full_time_status]
Index: []

[0 rows x 62 columns]

In [11]:
# ind_merge
df.loc[(df['INDLY'] <= 291) & (df['INDLY'] >1), 'ind_merge'] = 1
df.loc[(df['INDLY'] >=370) & (df['INDLY'] < 491), 'ind_merge'] = 2
df.loc[(df['INDLY'] >=570) & (df['INDLY'] < 691), 'ind_merge'] = 3
df.loc[df['INDLY'] == 770, 'ind_merge'] = 4
df.loc[(df['INDLY'] >=1070) & (df['INDLY'] < 3991), 'ind_merge'] = 5
df.loc[(df['INDLY'] >=4070) & (df['INDLY'] < 4591), 'ind_merge'] = 6
df.loc[(df['INDLY'] >=4670) & (df['INDLY'] < 5791), 'ind_merge'] = 7
df.loc[(df['INDLY'] >=6070) & (df['INDLY'] < 6391), 'ind_merge'] = 8
df.loc[(df['INDLY'] >=6470) & (df['INDLY'] < 6791), 'ind_merge'] = 9
df.loc[(df['INDLY'] >=6870) & (df['INDLY'] < 7191), 'ind_merge'] = 10
df.loc[(df['INDLY'] >=7270) & (df['INDLY'] < 7791), 'ind_merge'] = 11
df.loc[(df['INDLY'] >=7860) & (df['INDLY'] < 8471), 'ind_merge'] = 12
df.loc[(df['INDLY'] >=8560) & (df['INDLY'] < 8691), 'ind_merge'] = 13
df.loc[(df['INDLY'] >=8770) & (df['INDLY'] < 9291), 'ind_merge'] = 14
df.loc[(df['INDLY'] >=9370) & (df['INDLY'] < 9591), 'ind_merge'] = 15
df.loc[(df['INDLY'] >=9670) & (df['INDLY'] < 9891), 'ind_merge'] = 16

In [12]:
df.ind_merge.value_counts().sort_index()

1.0       68
2.0       14
3.0       60
4.0      462
5.0      894
6.0      286
7.0      961
8.0      353
9.0      179
10.0     618
11.0     995
12.0    2188
13.0     763
14.0     377
15.0     405
Name: ind_merge, dtype: int64

In [13]:
# Lancaster County
df.loc[df['COUNTY']==42071, 'Lancaster'] = 1
df.loc[df['COUNTY']!= 42071, 'Lancaster'] =0

In [14]:
# quartile
df.loc[df['quartile']=='q1', 'quartile2']=1
df.loc[df['quartile']=='q2', 'quartile2']=2
df.loc[df['quartile']=='q3', 'quartile2']=3
df.loc[df['quartile']=='q4', 'quartile2']=4

In [15]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,...,counts,male,female,occ_group,education,race2,full_time_status,ind_merge,Lancaster,quartile2
0,3648,3648,306601,2010,16894,3,NaN,20091201589400,1.0,NaN,...,1,1.0,0.0,20.0,2.0,1.0,1.0,4.0,0.0,1.0
1,3650,3650,306603,2010,16895,3,NaN,20091203081900,1.0,NaN,...,1,0.0,1.0,24.0,2.0,1.0,1.0,5.0,0.0,1.0
2,3652,3652,306605,2010,16896,3,NaN,20091201589500,1.0,NaN,...,1,0.0,1.0,24.0,2.0,1.0,1.0,12.0,0.0,1.0
3,3654,3654,306607,2010,16898,3,NaN,20091203082100,1.0,NaN,...,1,0.0,1.0,16.0,2.0,1.0,1.0,14.0,0.0,1.0
4,3660,3660,306613,2010,16901,3,NaN,20091205019000,1.0,NaN,...,1,1.0,0.0,24.0,2.0,1.0,1.0,8.0,0.0,1.0
5,3669,3669,306622,2010,16908,3,NaN,20100101534200,1.0,NaN,...,1,1.0,0.0,23.0,3.0,1.0,1.0,5.0,0.0,1.0
6,3672,3672,306625,2010,16908,3,NaN,20100101534200,1.0,NaN,...,1,0.0,1.0,23.0,1.0,1.0,1.0,5.0,0.0,1.0
7,3674,3674,306627,2010,16910,3,NaN,20100205511500,1.0,NaN,...,1,0.0,1.0,16.0,4.0,1.0,1.0,13.0,0.0,1.0
8,3675,3675,306628,2010,16910,3,NaN,20100205511500,1.0,NaN,...,1,1.0,0.0,20.0,3.0,1.0,1.0,4.0,0.0,1.0
9,3684,3684,306637,2010,16918,3,NaN,20091201589900,1.0,NaN,...,1,0.0,1.0,14.0,4.0,1.0,1.0,13.0,0.0,1.0
10,3685,3685,306638,2010,16918,3,NaN,20091201589900,1.0,NaN,...,1,1.0,0.0,23.0,3.0,1.0,0.0,5.0,0.0,1.0
11,3690,3690,306643,2010,16921,3,NaN,20090101460700,1.0,NaN,...,1,0.0,1.0,23.0,2.0,1.0,0.0,13.0,0.0,1.0
12,3691,3691,306644,2010,16921,3,NaN,20090101460700,1.0,NaN,...,1,1.0,0.0,24.0,2.0,1.0,0.0,5.0,0.0,1.0
13,3694,3694,306647,2010,16923,3,NaN,20090101460800,1.0,NaN,...,1,0.0,1.0,16.0,2.0,1.0,0.0,12.0,0.0,1.0
14,3709,3709,306662,2010,16930,3,NaN,20090205551000,1.0,NaN,...,1,1.0,0.0,18.0,3.0,1.0,0.0,10.0,0.0,1.0
15,3712,3712,306665,2010,16931,3,NaN,20090205518200,1.0,NaN,...,1,1.0,0.0,24.0,2.0,1.0,1.0,6.0,0.0,1.0
16,3718,3718,306671,2010,16935,3,NaN,20090305537600,1.0,NaN,...,1,1.0,0.0,15.0,3.0,1.0,0.0,11.0,0.0,1.0
17,3729,3729,306682,2010,16938,3,NaN,0,1.0,NaN,...,1,1.0,0.0,18.0,3.0,1.0,1.0,7.0,0.0,1.0
18,3734,3734,306687,2010,16939,3,NaN,0,1.0,NaN,...,1,0.0,1.0,16.0,2.0,1.0,0.0,12.0,0.0,1.0
19,3736,3736,306689,2010,16939,3,NaN,0,1.0,NaN,...,1,1.0,0.0,14.0,3.0,1.0,0.0,13.0,0.0,1.0
20,3748,3748,306701,2010,16942,3,NaN,0,1.0,NaN,...,1,1.0,0.0,14.0,3.0,1.0,1.0,13.0,0.0,1.0
21,3753,3753,306706,2010,16943,3,NaN,0,1.0,NaN,...,1,1.0,0.0,23.0,1.0,1.0,1.0,5.0,0.0,1.0
22,3754,3754,306707,2010,16943,3,NaN,0,1.0,NaN,...,1,0.0,1.0,14.0,2.0,1.0,1.0,7.0,0.0,1.0
23,3755,3755,306708,2010,16943,3,NaN,0,1.0,NaN,...,1,0.0,1.0,14.0,2.0,1.0,0.0,13.0,0.0,1.0
24,3764,3764,306717,2010,16944,3,NaN,0,1.0,NaN,...,1,1.0,0.0,14.0,3.0,1.0,0.0,13.0,0.0,1.0
25,3775,3775,308231,2010,17608,3,NaN,20091201584200,1.0,NaN,...,1,1.0,0.0,18.0,2.0,1.0,1.0,7.0,0.0,1.0
26,3777,3777,308233,2010,17609,3,NaN,20091205016600,1.0,NaN,...,1,1.0,0.0,24.0,2.0,1.0,1.0,13.0,0.0,1.0
27,3797,3797,308253,2010,17619,3,NaN,20100105953000,1.0,NaN,...,1,1.0,0.0,24.0,2.0,1.0,1.0,7.0,0.0,1.0
28,3803,3803,308259,2010,17621,3,NaN,20100104125100,1.0,NaN,...,1,0.0,1.0,16.0,4.0,1.0,1.0,12.0,0.0,1.0
29,3804,3804,308260,2010,17621,3,NaN,20100104125100,1.0,NaN,...,1,1.0,0.0,16.0,4.0,1.0,1.0,12.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8593,177461,177461,12937031,2017,15456,3,NaN,20170305694300,1.0,NaN,...,1,0.0,1.0,11.0,4.0,1.0,1.0,12.0,0.0,4.0
8594,177462,177462,12937032,2017,15457,3,NaN,20170205716400,1.0,NaN,...,1,1.0,0.0,1.0,4.0,1.0,1.0,10.0,0.0,4.0
8595,177470,177470,12937040,2017,15460,3,NaN,20170205692100,1.0,NaN,...,1,1.0,0.0,1.0,3.0,1.0,1.0,5.0,0.0,4.0
8596,177485,177485,12937055,2017,15469,3,NaN,0,1.0,NaN,...,1,0.0,1.0,11.0,4.0,1.0,1.0,12.0,0.0,4.0
8597,177497,177497,12937067,2017,15474,3,NaN,0,1.0,NaN,...,1,0.0,1.0,9.0,4.0,1.0,1.0,12.0,0.0,4.0
8598,177505,177505,12937075,2017,15479,3,NaN,0,1.0,NaN,...,1,0.0,1.0,6.0,4.0,1.0,1.0,12.0,0.0,4.0
8599,177514,177514,12937084,2017,15481,3,NaN,0,1.0,NaN,...,1,1.0,0.0,1.0,4.0,1.0,1.0,5.0,0.0,4.0
8600,177532,177532,12937102,2017,15486,3,NaN,0,1.0,NaN,...,1,0.0,1.0,10.0,3.0,1.0,1.0,7.0,0.0,4.0
8601,177536,177536,12937440,2017,15648,3,NaN,20170305714600,1.0,NaN,...,1,1.0,0.0,1.0,4.0,1.0,1.0,14.0,0.0,4.0
8602,177537,177537,12937441,2017,15648,3,NaN,20170305714600,1.0,NaN,...,1,0.0,1.0,9.0,4.0,1.0,1.0,12.0,0.0,4.0
8603,177552,177552,12937456,2017,15653,3,NaN,20170305697400,1.0,NaN,...,1,0.0,1.0,11.0,4.0,2.0,1.0,10.0,0.0,4.0
8604,177555,177555,12937459,2017,15655,3,NaN,20170205690900,1.0,NaN,...,1,0.0,1.0,1.0,2.0,1.0,0.0,7.0,0.0,4.0
8605,177567,177567,12937471,2017,15662,3,NaN,20160205666700,1.0,NaN,...,1,0.0,1.0,2.0,4.0,1.0,1.0,5.0,0.0,4.0
8606,177568,177568,12937472,2017,15663,3,NaN,20160105665100,1.0,NaN,...,1,1.0,0.0,1.0,3.0,1.0,1.0,4.0,0.0,4.0
8607,177579,177579,12937483,2017,15667,3,NaN,20160305684200,1.0,NaN,...,1,0.0,1.0,9.0,2.0,1.0,1.0,12.0,0.0,4.0
8608,177580,177580,12937484,2017,15668,3,NaN,20160205673200,1.0,NaN,...,1,1.0,0.0,1.0,2.0,2.0,1.0,12.0,0.0,4.0
8609,177585,177585,12937489,2017,15674,3,NaN,20170105724900,1.0,NaN,...,1,1.0,0.0,1.0,4.0,1.0,1.0,5.0,0.0,4.0
8610,177588,177588,12937492,2017,15675,3,NaN,20170205707700,1.0,NaN,...,1,0.0,1.0,10.0,3.0,1.0,0.0,7.0,0.0,4.0
8611,177599,177599,12937503,2017,15679,3,NaN,20160305672900,1.0,NaN,...,1,1.0,0.0,1.0,4.0,1.0,1.0,10.0,0.0,4.0
8612,177602,177602,12937506,2017,15680,3,NaN,20151205654700,1.0,NaN,...,1,1.0,0.0,22.0,3.0,1.0,1.0,3.0,0.0,4.0
8613,177647,177647,12937551,2017,15710,3,NaN,0,1.0,NaN,...,1,0.0,1.0,9.0,4.0,1.0,1.0,12.0,0.0,4.0
8614,177648,177648,12937552,2017,15710,3,NaN,0,1.0,NaN,...,1,1.0,0.0,1.0,2.0,1.0,1.0,8.0,0.0,4.0
8615,177652,177652,12937556,2017,15711,3,NaN,0,1.0,NaN,...,1,1.0,0.0,9.0,4.0,1.0,1.0,12.0,0.0,4.0
8616,177660,177660,12937564,2017,15714,3,NaN,0,1.0,NaN,...,1,1.0,0.0,4.0,3.0,1.0,1.0,5.0,0.0,4.0
8617,177664,177664,12937568,2017,15715,3,NaN,0,1.0,NaN,...,1,0.0,1.0,11.0,2.0,1.0,0.0,12.0,0.0,4.0
8618,177668,177668,12937572,2017,15716,3,NaN,0,1.0,NaN,...,1,1.0,0.0,5.0,3.0,1.0,1.0,9.0,0.0,4.0
8619,177672,177672,12937576,2017,15717,3,NaN,0,1.0,NaN,...,1,1.0,0.0,3.0,4.0,1.0,0.0,10.0,0.0,4.0
8620,177684,177684,12937588,2017,15721,3,NaN,0,1.0,NaN,...,1,1.0,0.0,1.0,2.0,1.0,0.0,4.0,0.0,4.0
8621,177685,177685,12937589,2017,15721,3,NaN,0,1.0,NaN,...,1,0.0,1.0,1.0,4.0,1.0,1.0,11.0,0.0,4.0
8622,177690,177690,12937594,2017,15722,3,NaN,0,1.0,NaN,...,1,1.0,0.0,10.0,2.0,1.0,1.0,4.0,0.0,4.0

In [16]:
df.move_result.value_counts()

Same_Occupation         7063
Different_Occupation     785
NILF                     415
Unemployed               360
Name: move_result, dtype: int64

In [17]:
# transition result
df.loc[df['move_result']=='NILF', 'exit'] = 1
df.loc[df['move_result']!= 'NILF', 'exit'] =0

In [18]:
# transfer
df.loc[df['move_result']== 'Different_Occupation', 'transfer'] = 1
df.loc[df['move_result']!= 'Different_Occupation', 'transfer'] = 0

In [19]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,...,female,occ_group,education,race2,full_time_status,ind_merge,Lancaster,quartile2,exit,transfer
0,3648,3648,306601,2010,16894,3,NaN,20091201589400,1.0,NaN,...,0.0,20.0,2.0,1.0,1.0,4.0,0.0,1.0,0.0,0.0
1,3650,3650,306603,2010,16895,3,NaN,20091203081900,1.0,NaN,...,1.0,24.0,2.0,1.0,1.0,5.0,0.0,1.0,0.0,0.0
2,3652,3652,306605,2010,16896,3,NaN,20091201589500,1.0,NaN,...,1.0,24.0,2.0,1.0,1.0,12.0,0.0,1.0,0.0,0.0
3,3654,3654,306607,2010,16898,3,NaN,20091203082100,1.0,NaN,...,1.0,16.0,2.0,1.0,1.0,14.0,0.0,1.0,0.0,0.0
4,3660,3660,306613,2010,16901,3,NaN,20091205019000,1.0,NaN,...,0.0,24.0,2.0,1.0,1.0,8.0,0.0,1.0,0.0,0.0
5,3669,3669,306622,2010,16908,3,NaN,20100101534200,1.0,NaN,...,0.0,23.0,3.0,1.0,1.0,5.0,0.0,1.0,0.0,0.0
6,3672,3672,306625,2010,16908,3,NaN,20100101534200,1.0,NaN,...,1.0,23.0,1.0,1.0,1.0,5.0,0.0,1.0,0.0,0.0
7,3674,3674,306627,2010,16910,3,NaN,20100205511500,1.0,NaN,...,1.0,16.0,4.0,1.0,1.0,13.0,0.0,1.0,0.0,0.0
8,3675,3675,306628,2010,16910,3,NaN,20100205511500,1.0,NaN,...,0.0,20.0,3.0,1.0,1.0,4.0,0.0,1.0,0.0,0.0
9,3684,3684,306637,2010,16918,3,NaN,20091201589900,1.0,NaN,...,1.0,14.0,4.0,1.0,1.0,13.0,0.0,1.0,0.0,0.0
10,3685,3685,306638,2010,16918,3,NaN,20091201589900,1.0,NaN,...,0.0,23.0,3.0,1.0,0.0,5.0,0.0,1.0,0.0,0.0
11,3690,3690,306643,2010,16921,3,NaN,20090101460700,1.0,NaN,...,1.0,23.0,2.0,1.0,0.0,13.0,0.0,1.0,0.0,0.0
12,3691,3691,306644,2010,16921,3,NaN,20090101460700,1.0,NaN,...,0.0,24.0,2.0,1.0,0.0,5.0,0.0,1.0,0.0,0.0
13,3694,3694,306647,2010,16923,3,NaN,20090101460800,1.0,NaN,...,1.0,16.0,2.0,1.0,0.0,12.0,0.0,1.0,0.0,1.0
14,3709,3709,306662,2010,16930,3,NaN,20090205551000,1.0,NaN,...,0.0,18.0,3.0,1.0,0.0,10.0,0.0,1.0,1.0,0.0
15,3712,3712,306665,2010,16931,3,NaN,20090205518200,1.0,NaN,...,0.0,24.0,2.0,1.0,1.0,6.0,0.0,1.0,0.0,0.0
16,3718,3718,306671,2010,16935,3,NaN,20090305537600,1.0,NaN,...,0.0,15.0,3.0,1.0,0.0,11.0,0.0,1.0,0.0,0.0
17,3729,3729,306682,2010,16938,3,NaN,0,1.0,NaN,...,0.0,18.0,3.0,1.0,1.0,7.0,0.0,1.0,0.0,0.0
18,3734,3734,306687,2010,16939,3,NaN,0,1.0,NaN,...,1.0,16.0,2.0,1.0,0.0,12.0,0.0,1.0,0.0,1.0
19,3736,3736,306689,2010,16939,3,NaN,0,1.0,NaN,...,0.0,14.0,3.0,1.0,0.0,13.0,0.0,1.0,1.0,0.0
20,3748,3748,306701,2010,16942,3,NaN,0,1.0,NaN,...,0.0,14.0,3.0,1.0,1.0,13.0,0.0,1.0,0.0,0.0
21,3753,3753,306706,2010,16943,3,NaN,0,1.0,NaN,...,0.0,23.0,1.0,1.0,1.0,5.0,0.0,1.0,0.0,1.0
22,3754,3754,306707,2010,16943,3,NaN,0,1.0,NaN,...,1.0,14.0,2.0,1.0,1.0,7.0,0.0,1.0,0.0,0.0
23,3755,3755,306708,2010,16943,3,NaN,0,1.0,NaN,...,1.0,14.0,2.0,1.0,0.0,13.0,0.0,1.0,0.0,1.0
24,3764,3764,306717,2010,16944,3,NaN,0,1.0,NaN,...,0.0,14.0,3.0,1.0,0.0,13.0,0.0,1.0,0.0,0.0
25,3775,3775,308231,2010,17608,3,NaN,20091201584200,1.0,NaN,...,0.0,18.0,2.0,1.0,1.0,7.0,0.0,1.0,0.0,0.0
26,3777,3777,308233,2010,17609,3,NaN,20091205016600,1.0,NaN,...,0.0,24.0,2.0,1.0,1.0,13.0,0.0,1.0,0.0,0.0
27,3797,3797,308253,2010,17619,3,NaN,20100105953000,1.0,NaN,...,0.0,24.0,2.0,1.0,1.0,7.0,0.0,1.0,0.0,0.0
28,3803,3803,308259,2010,17621,3,NaN,20100104125100,1.0,NaN,...,1.0,16.0,4.0,1.0,1.0,12.0,0.0,1.0,0.0,0.0
29,3804,3804,308260,2010,17621,3,NaN,20100104125100,1.0,NaN,...,0.0,16.0,4.0,1.0,1.0,12.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8593,177461,177461,12937031,2017,15456,3,NaN,20170305694300,1.0,NaN,...,1.0,11.0,4.0,1.0,1.0,12.0,0.0,4.0,0.0,0.0
8594,177462,177462,12937032,2017,15457,3,NaN,20170205716400,1.0,NaN,...,0.0,1.0,4.0,1.0,1.0,10.0,0.0,4.0,0.0,1.0
8595,177470,177470,12937040,2017,15460,3,NaN,20170205692100,1.0,NaN,...,0.0,1.0,3.0,1.0,1.0,5.0,0.0,4.0,0.0,1.0
8596,177485,177485,12937055,2017,15469,3,NaN,0,1.0,NaN,...,1.0,11.0,4.0,1.0,1.0,12.0,0.0,4.0,0.0,0.0
8597,177497,177497,12937067,2017,15474,3,NaN,0,1.0,NaN,...,1.0,9.0,4.0,1.0,1.0,12.0,0.0,4.0,0.0,1.0
8598,177505,177505,12937075,2017,15479,3,NaN,0,1.0,NaN,...,1.0,6.0,4.0,1.0,1.0,12.0,0.0,4.0,0.0,0.0
8599,177514,177514,12937084,2017,15481,3,NaN,0,1.0,NaN,...,0.0,1.0,4.0,1.0,1.0,5.0,0.0,4.0,0.0,0.0
8600,177532,177532,12937102,2017,15486,3,NaN,0,1.0,NaN,...,1.0,10.0,3.0,1.0,1.0,7.0,0.0,4.0,0.0,0.0
8601,177536,177536,12937440,2017,15648,3,NaN,20170305714600,1.0,NaN,...,0.0,1.0,4.0,1.0,1.0,14.0,0.0,4.0,0.0,0.0
8602,177537,177537,12937441,2017,15648,3,NaN,20170305714600,1.0,NaN,...,1.0,9.0,4.0,1.0,1.0,12.0,0.0,4.0,0.0,0.0
8603,177552,177552,12937456,2017,15653,3,NaN,20170305697400,1.0,NaN,...,1.0,11.0,4.0,2.0,1.0,10.0,0.0,4.0,0.0,0.0
8604,177555,177555,12937459,2017,15655,3,NaN,20170205690900,1.0,NaN,...,1.0,1.0,2.0,1.0,0.0,7.0,0.0,4.0,0.0,0.0
8605,177567,177567,12937471,2017,15662,3,NaN,20160205666700,1.0,NaN,...,1.0,2.0,4.0,1.0,1.0,5.0,0.0,4.0,0.0,0.0
8606,177568,177568,12937472,2017,15663,3,NaN,20160105665100,1.0,NaN,...,0.0,1.0,3.0,1.0,1.0,4.0,0.0,4.0,0.0,0.0
8607,177579,177579,12937483,2017,15667,3,NaN,20160305684200,1.0,NaN,...,1.0,9.0,2.0,1.0,1.0,12.0,0.0,4.0,0.0,0.0
8608,177580,177580,12937484,2017,15668,3,NaN,20160205673200,1.0,NaN,...,0.0,1.0,2.0,2.0,1.0,12.0,0.0,4.0,0.0,0.0
8609,177585,177585,12937489,2017,15674,3,NaN,20170105724900,1.0,NaN,...,0.0,1.0,4.0,1.0,1.0,5.0,0.0,4.0,0.0,0.0
8610,177588,177588,12937492,2017,15675,3,NaN,20170205707700,1.0,NaN,...,1.0,10.0,3.0,1.0,0.0,7.0,0.0,4.0,0.0,0.0
8611,177599,177599,12937503,2017,15679,3,NaN,20160305672900,1.0,NaN,...,0.0,1.0,4.0,1.0,1.0,10.0,0.0,4.0,0.0,0.0
8612,177602,177602,12937506,2017,15680,3,NaN,20151205654700,1.0,NaN,...,0.0,22.0,3.0,1.0,1.0,3.0,0.0,4.0,0.0,0.0
8613,177647,177647,12937551,2017,15710,3,NaN,0,1.0,NaN,...,1.0,9.0,4.0,1.0,1.0,12.0,0.0,4.0,0.0,0.0
8614,177648,177648,12937552,2017,15710,3,NaN,0,1.0,NaN,...,0.0,1.0,2.0,1.0,1.0,8.0,0.0,4.0,0.0,0.0
8615,177652,177652,12937556,2017,15711,3,NaN,0,1.0,NaN,...,0.0,9.0,4.0,1.0,1.0,12.0,0.0,4.0,0.0,0.0
8616,177660,177660,12937564,2017,15714,3,NaN,0,1.0,NaN,...,0.0,4.0,3.0,1.0,1.0,5.0,0.0,4.0,0.0,0.0
8617,177664,177664,12937568,2017,15715,3,NaN,0,1.0,NaN,...,1.0,11.0,2.0,1.0,0.0,12.0,0.0,4.0,0.0,0.0
8618,177668,177668,12937572,2017,15716,3,NaN,0,1.0,NaN,...,0.0,5.0,3.0,1.0,1.0,9.0,0.0,4.0,0.0,0.0
8619,177672,177672,12937576,2017,15717,3,NaN,0,1.0,NaN,...,0.0,3.0,4.0,1.0,0.0,10.0,0.0,4.0,0.0,0.0
8620,177684,177684,12937588,2017,15721,3,NaN,0,1.0,NaN,...,0.0,1.0,2.0,1.0,0.0,4.0,0.0,4.0,0.0,0.0
8621,177685,177685,12937589,2017,15721,3,NaN,0,1.0,NaN,...,1.0,1.0,4.0,1.0,1.0,11.0,0.0,4.0,0.0,0.0
8622,177690,177690,12937594,2017,15722,3,NaN,0,1.0,NaN,...,0.0,10.0,2.0,1.0,1.0,4.0,0.0,4.0,0.0,0.0

In [20]:
df.loc[:,['move_result', 'exit','transfer']]

               move_result  exit  transfer
0          Same_Occupation   0.0       0.0
1          Same_Occupation   0.0       0.0
2          Same_Occupation   0.0       0.0
3          Same_Occupation   0.0       0.0
4          Same_Occupation   0.0       0.0
5          Same_Occupation   0.0       0.0
6          Same_Occupation   0.0       0.0
7          Same_Occupation   0.0       0.0
8          Same_Occupation   0.0       0.0
9          Same_Occupation   0.0       0.0
10              Unemployed   0.0       0.0
11         Same_Occupation   0.0       0.0
12         Same_Occupation   0.0       0.0
13    Different_Occupation   0.0       1.0
14                    NILF   1.0       0.0
15         Same_Occupation   0.0       0.0
16         Same_Occupation   0.0       0.0
17         Same_Occupation   0.0       0.0
18    Different_Occupation   0.0       1.0
19                    NILF   1.0       0.0
20         Same_Occupation   0.0       0.0
21    Different_Occupation   0.0       1.0
22         Same_Occupation   0.0       0.0
23    Different_Occupation   0.0       1.0
24         Same_Occupation   0.0       0.0
25         Same_Occupation   0.0       0.0
26         Same_Occupation   0.0       0.0
27         Same_Occupation   0.0       0.0
28         Same_Occupation   0.0       0.0
29         Same_Occupation   0.0       0.0
...                    ...   ...       ...
8593       Same_Occupation   0.0       0.0
8594  Different_Occupation   0.0       1.0
8595  Different_Occupation   0.0       1.0
8596       Same_Occupation   0.0       0.0
8597  Different_Occupation   0.0       1.0
8598       Same_Occupation   0.0       0.0
8599       Same_Occupation   0.0       0.0
8600       Same_Occupation   0.0       0.0
8601       Same_Occupation   0.0       0.0
8602       Same_Occupation   0.0       0.0
8603       Same_Occupation   0.0       0.0
8604       Same_Occupation   0.0       0.0
8605       Same_Occupation   0.0       0.0
8606       Same_Occupation   0.0       0.0
8607       Same_Occupation   0.0       0.0
8608       Same_Occupation   0.0       0.0
8609       Same_Occupation   0.0       0.0
8610       Same_Occupation   0.0       0.0
8611       Same_Occupation   0.0       0.0
8612       Same_Occupation   0.0       0.0
8613       Same_Occupation   0.0       0.0
8614       Same_Occupation   0.0       0.0
8615       Same_Occupation   0.0       0.0
8616       Same_Occupation   0.0       0.0
8617       Same_Occupation   0.0       0.0
8618       Same_Occupation   0.0       0.0
8619       Same_Occupation   0.0       0.0
8620       Same_Occupation   0.0       0.0
8621       Same_Occupation   0.0       0.0
8622       Same_Occupation   0.0       0.0

[8623 rows x 3 columns]

In [21]:
df.to_csv('C:/Users/yfeng/Desktop/cps/Sep_17_new_Q1_low_wage_report/probality_dataset_occly_q1_q4.csv')