In [1]:
import pandas as pd
import numpy as np
d1 = pd.read_csv('C:/Users/yfeng/Desktop/cps/Sep_17_new_Q1_low_wage_report/q1_obs_22033 .csv')
d2 = pd.read_csv('C:/Users/yfeng/Desktop/cps/Sep_17_new_Q1_low_wage_report/q2_obs_17873.csv')
d3 = pd.read_csv('C:/Users/yfeng/Desktop/cps/Sep_17_new_Q1_low_wage_report/q3_obs_14148.csv')
d4 = pd.read_csv('C:/Users/yfeng/Desktop/cps/Sep_17_new_Q1_low_wage_report/q4_obs_20653.csv')

In [2]:
df = pd.concat([d1, d2,d3, d4])

In [3]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,...,PAIDGH,EMCONTRB,JTOCC,HOURWAGE,EARNWEEK,UHRSWORKORG,WKSWORKORG,OCC2010_y,PRESGL,PRENT
0,25,25,4385,2010,2621,1,3094.6308,20091100281000,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,9130.0,32.1,30.4
1,32,32,4404,2010,2636,1,2989.8559,20081005418300,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,9620.0,17.5,24.0
2,41,41,4413,2010,2640,1,2987.2396,20081202906200,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4720.0,30.9,29.5
3,47,47,4449,2010,2660,1,3334.6547,20081101335300,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4220.0,16.1,22.3
4,51,51,4453,2010,2661,1,3016.0369,20081106102600,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,9130.0,32.1,30.4
5,68,68,4497,2010,2696,1,3320.4949,20091205016600,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,9140.0,22.0,28.1
6,73,73,4502,2010,2700,1,2658.6825,20091000264000,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,6420.0,29.8,33.9
7,93,93,4522,2010,2707,1,2936.5530,20081205882700,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4000.0,26.4,30.7
8,103,103,4532,2010,2710,1,2544.1069,20091006186600,NaN,NaN,...,NaN,NaN,0.0,25.00,1000.00,40.0,0.0,9100.0,32.4,32.1
9,109,109,4550,2010,2725,1,3142.3940,20091203081900,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,9620.0,17.5,24.0
10,112,112,4553,2010,2727,1,2857.6916,20090101460800,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4510.0,35.0,36.1
11,119,119,4560,2010,2731,1,3561.0132,20091004063000,NaN,NaN,...,NaN,NaN,0.0,7.25,234.50,999.0,0.0,4060.0,15.3,21.1
12,120,120,4577,2010,2741,1,2934.0235,20081101345300,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,9130.0,32.1,30.4
13,123,123,4619,2010,2773,1,4579.0155,20091205725000,NaN,NaN,...,NaN,NaN,4030.0,99.99,9999.99,999.0,0.0,5860.0,35.5,33.9
14,133,133,4629,2010,2776,1,2903.7469,20100100277600,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,9130.0,32.1,30.4
15,138,138,4634,2010,2777,1,2906.0264,20081005433700,NaN,NaN,...,NaN,NaN,0.0,7.25,253.75,35.0,0.0,4060.0,15.3,21.1
16,184,184,4681,2010,2810,1,3663.0131,20091104332900,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4760.0,32.8,33.6
17,202,202,4773,2010,2867,1,2388.6063,20091005633400,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,8800.0,28.4,25.1
18,205,205,11927,2010,6229,1,2081.4572,20081204857800,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,8800.0,28.4,25.1
19,207,207,11929,2010,6229,1,2081.4572,20081204857800,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4720.0,30.9,29.5
20,215,215,11944,2010,6232,1,2910.5647,20081102626600,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,8610.0,35.0,40.2
21,250,250,12001,2010,6259,1,3042.7988,20081005434300,NaN,NaN,...,NaN,NaN,0.0,32.00,1280.00,40.0,0.0,6200.0,50.3,53.2
22,264,264,12024,2010,6267,1,2858.1973,20091201589500,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,9100.0,32.4,32.1
23,275,275,12035,2010,6272,1,2605.6782,20091001515700,NaN,NaN,...,NaN,NaN,0.0,99.99,692.00,999.0,0.0,4760.0,32.8,33.6
24,277,277,12037,2010,6274,1,2640.2708,20091103166800,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4000.0,26.4,30.7
25,288,288,12070,2010,6289,1,2659.9043,20081005563500,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4250.0,22.5,28.6
26,318,318,12119,2010,6313,1,3908.7225,20081005381500,NaN,NaN,...,NaN,NaN,0.0,12.00,480.00,40.0,0.0,4220.0,16.1,22.3
27,360,360,28849,2010,15196,1,2797.7074,20091203070100,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,7260.0,21.6,43.5
28,361,361,28850,2010,15197,1,2440.8800,20081102623300,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,9130.0,32.1,30.4
29,366,366,28855,2010,15198,1,3303.7087,20081206425500,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,9130.0,32.1,30.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20623,199785,199785,14831818,2018,54819,5,3410.2033,20170505679400,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3130.0,61.5,66.5
20624,199788,199788,14831825,2018,54825,5,3276.5854,20170405692500,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,350.0,61.5,69.2
20625,199799,199799,14831838,2018,54830,5,4049.4631,20180305534600,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,8760.0,61.0,55.9
20626,199800,199800,14831839,2018,54831,5,3448.0826,20170305709600,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,1460.0,62.3,64.1
20627,199801,199801,14831840,2018,54831,5,3448.0826,20170305709600,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3130.0,61.5,66.5
20628,199809,199809,14831855,2018,54850,5,4442.4016,20170205718000,NaN,NaN,...,NaN,NaN,NaN,99.99,1442.30,999.0,52.0,800.0,56.7,65.4
20629,199810,199810,14831856,2018,54850,5,4442.4016,20170205718000,NaN,NaN,...,NaN,NaN,NaN,17.00,306.00,18.0,0.0,2310.0,59.6,64.1
20630,199813,199813,14831859,2018,54852,5,2943.5349,20180405509000,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,2310.0,59.6,64.1
20631,199814,199814,14831860,2018,54852,5,2943.5349,20180405509000,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,430.0,50.3,56.5
20632,199829,199829,14831887,2018,54868,5,3503.7920,20180305538100,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,130.0,56.0,53.9
20633,199835,199835,14831906,2018,54884,5,3368.3137,20170305714600,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,10.0,50.3,70.5
20634,199836,199836,14831907,2018,54884,5,3368.3137,20170305714600,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,2320.0,59.6,66.4
20635,199859,199859,14831942,2018,54899,5,3226.3291,20180305540900,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,2310.0,59.6,64.1
20636,199860,199860,14831943,2018,54899,5,3226.3291,20180305540900,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3400.0,61.0,56.7
20637,199863,199863,14831954,2018,54902,5,5821.1694,20180205543300,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,220.0,50.3,56.5
20638,199892,199892,14831997,2018,54920,5,3220.4776,20180305543400,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,30.0,50.0,56.9
20639,199899,199899,14832004,2018,54924,5,3366.7196,20180505492400,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,20.0,50.3,56.5
20640,199936,199936,14832076,2018,54960,5,3468.9197,20170405707000,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,1020.0,50.6,60.5
20641,199944,199944,14832084,2018,54963,5,4228.5933,20180405520800,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,1300.0,70.5,73.2
20642,199956,199956,14832103,2018,54979,5,3737.8669,20170405708700,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,430.0,50.3,56.5
20643,199981,199981,14832149,2018,55006,5,2968.5652,20170305727400,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3130.0,61.5,66.5
20644,200000,200000,14832188,2018,55027,5,3493.0976,20180305554000,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,2550.0,46.0,45.7
20645,200009,200009,14832197,2018,55032,5,3273.9733,20180505503200,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,110.0,50.3,56.5
20646,200013,200013,14832217,2018,55044,5,4939.6006,20170605694400,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,800.0,56.7,65.4
20647,200014,200014,14832218,2018,55044,5,4939.6006,20170605694400,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,220.0,50.3,56.5
20648,200020,200020,14832228,2018,55051,5,3760.3273,20170305731000,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3130.0,61.5,66.5
20649,200031,200031,14832244,2018,55061,5,3303.3188,20180405529800,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,430.0,50.3,56.5
20650,200032,200032,14832245,2018,55061,5,3303.3188,20180405529800,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,2310.0,59.6,64.1
20651,200056,200056,14832294,2018,55086,5,3282.7580,20170505705700,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,1460.0,62.3,64.1
20652,200057,200057,14832299,2018,55092,5,2986.6895,20170205741900,NaN,NaN,...,NaN,NaN,NaN,99.99,1634.61,999.0,52.0,1410.0,69.4,64.2

In [5]:
occ_list = pd.read_excel('C:/Users/yfeng/Desktop/cps/Sep_17_new_Q1_low_wage_report/q1_q4_occ_list_correct.xlsx')

In [9]:
#q1 obs : 22180
OCC_q1 = occ_list['OCC_q1']
OCC_q1 = pd.DataFrame(OCC_q1)
OCC_q1 = list(OCC_q1.values.flatten())
OCC_q1
q1_ob = df.loc[df['OCC'].isin(OCC_q1)]
q1_ob

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,...,PAIDGH,EMCONTRB,JTOCC,HOURWAGE,EARNWEEK,UHRSWORKORG,WKSWORKORG,OCC2010_y,PRESGL,PRENT
0,25,25,4385,2010,2621,1,3094.6308,20091100281000,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,9130.0,32.1,30.4
1,32,32,4404,2010,2636,1,2989.8559,20081005418300,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,9620.0,17.5,24.0
2,41,41,4413,2010,2640,1,2987.2396,20081202906200,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4720.0,30.9,29.5
3,47,47,4449,2010,2660,1,3334.6547,20081101335300,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4220.0,16.1,22.3
4,51,51,4453,2010,2661,1,3016.0369,20081106102600,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,9130.0,32.1,30.4
5,68,68,4497,2010,2696,1,3320.4949,20091205016600,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,9140.0,22.0,28.1
7,93,93,4522,2010,2707,1,2936.5530,20081205882700,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4000.0,26.4,30.7
8,103,103,4532,2010,2710,1,2544.1069,20091006186600,NaN,NaN,...,NaN,NaN,0.0,25.00,1000.00,40.0,0.0,9100.0,32.4,32.1
9,109,109,4550,2010,2725,1,3142.3940,20091203081900,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,9620.0,17.5,24.0
11,119,119,4560,2010,2731,1,3561.0132,20091004063000,NaN,NaN,...,NaN,NaN,0.0,7.25,234.50,999.0,0.0,4060.0,15.3,21.1
12,120,120,4577,2010,2741,1,2934.0235,20081101345300,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,9130.0,32.1,30.4
14,133,133,4629,2010,2776,1,2903.7469,20100100277600,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,9130.0,32.1,30.4
15,138,138,4634,2010,2777,1,2906.0264,20081005433700,NaN,NaN,...,NaN,NaN,0.0,7.25,253.75,35.0,0.0,4060.0,15.3,21.1
16,184,184,4681,2010,2810,1,3663.0131,20091104332900,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4760.0,32.8,33.6
17,202,202,4773,2010,2867,1,2388.6063,20091005633400,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,8800.0,28.4,25.1
18,205,205,11927,2010,6229,1,2081.4572,20081204857800,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,8800.0,28.4,25.1
19,207,207,11929,2010,6229,1,2081.4572,20081204857800,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4720.0,30.9,29.5
20,215,215,11944,2010,6232,1,2910.5647,20081102626600,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,8610.0,35.0,40.2
21,250,250,12001,2010,6259,1,3042.7988,20081005434300,NaN,NaN,...,NaN,NaN,0.0,32.00,1280.00,40.0,0.0,6200.0,50.3,53.2
22,264,264,12024,2010,6267,1,2858.1973,20091201589500,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,9100.0,32.4,32.1
23,275,275,12035,2010,6272,1,2605.6782,20091001515700,NaN,NaN,...,NaN,NaN,0.0,99.99,692.00,999.0,0.0,4760.0,32.8,33.6
24,277,277,12037,2010,6274,1,2640.2708,20091103166800,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4000.0,26.4,30.7
25,288,288,12070,2010,6289,1,2659.9043,20081005563500,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4250.0,22.5,28.6
26,318,318,12119,2010,6313,1,3908.7225,20081005381500,NaN,NaN,...,NaN,NaN,0.0,12.00,480.00,40.0,0.0,4220.0,16.1,22.3
27,360,360,28849,2010,15196,1,2797.7074,20091203070100,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,7260.0,21.6,43.5
28,361,361,28850,2010,15197,1,2440.8800,20081102623300,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,9130.0,32.1,30.4
29,366,366,28855,2010,15198,1,3303.7087,20081206425500,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,9130.0,32.1,30.4
30,375,375,28864,2010,15201,1,3147.9523,20090106698800,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,7720.0,28.4,34.0
31,376,376,28865,2010,15202,1,2680.6214,20090105541200,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,9130.0,32.1,30.4
32,378,378,28867,2010,15202,1,2680.6214,20090105541200,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,8800.0,28.4,25.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20080,194692,194692,14459253,2018,54507,2,3654.0720,20171105452800,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,4620.0,48.6,38.1
20086,194735,194735,14459369,2018,54569,2,3435.1103,20171105458500,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,4620.0,48.6,38.1
20094,194767,194767,14459438,2018,54612,2,4408.1762,20171205457800,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3060.0,81.5,86.1
20114,194901,194901,14459788,2018,54821,2,3456.0704,20171105483300,NaN,NaN,...,NaN,NaN,NaN,10.00,2884.61,999.0,52.0,3060.0,81.5,86.1
20139,195198,195198,14460664,2018,55328,2,3975.9216,20161205721700,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3060.0,81.5,86.1
20146,195301,195301,14460853,2018,55441,2,3075.1808,20180105541500,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3060.0,81.5,86.1
20152,195341,195341,14460927,2018,55492,2,4249.1336,20161105724600,NaN,NaN,...,NaN,NaN,NaN,99.99,1057.69,999.0,52.0,3060.0,81.5,86.1
20192,195764,195764,14581674,2018,53903,3,5813.9742,20170205564600,2.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3060.0,81.5,86.1
20198,195834,195834,14581772,2018,53962,3,4195.1200,20171205395600,2.0,NaN,...,NaN,NaN,NaN,44.30,1772.00,40.0,0.0,3060.0,81.5,86.1
20221,196090,196090,14582340,2018,54277,3,3658.3859,20180105431000,2.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3060.0,81.5,86.1
20249,196272,196272,14582780,2018,54566,3,3624.0184,20170305627800,2.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,4620.0,48.6,38.1
20251,196281,196281,14582789,2018,54571,3,4694.6506,20171205457800,2.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3060.0,81.5,86.1
20297,196719,196719,14584031,2018,55310,3,4015.7839,20161205721700,2.0,NaN,...,NaN,NaN,NaN,99.99,769.00,999.0,0.0,3060.0,81.5,86.1
20315,196858,196858,14584237,2018,55424,3,3391.7539,20180105541500,2.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3060.0,81.5,86.1
20360,197334,197334,14705548,2018,53609,4,5085.6408,20170205564600,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3060.0,81.5,86.1
20361,197345,197345,14705562,2018,53626,4,5350.2473,20170705496700,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3060.0,81.5,86.1
20392,197656,197656,14706211,2018,53986,4,3566.4377,20180105431000,0.0,NaN,...,NaN,NaN,NaN,99.99,2884.61,999.0,52.0,3060.0,81.5,86.1
20410,197774,197774,14706504,2018,54171,4,3917.9634,20180305445000,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,4620.0,48.6,38.1
20418,197845,197845,14706695,2018,54286,4,3766.4707,20170305627800,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,4620.0,48.6,38.1
20448,198039,198039,14707577,2018,54820,4,2983.9140,20180405482000,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3060.0,81.5,86.1
20449,198040,198040,14707578,2018,54820,4,2983.9140,20180405482000,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3060.0,81.5,86.1
20484,198425,198425,14708160,2018,55151,4,3361.8534,20180105541500,0.0,NaN,...,NaN,NaN,NaN,99.99,2884.61,999.0,0.0,3060.0,81.5,86.1
20503,198601,198601,14828956,2018,53078,5,5748.3340,20170405510700,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3060.0,81.5,86.1
20504,198602,198602,14828957,2018,53078,5,5748.3340,20170405510700,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3060.0,81.5,86.1
20526,198849,198849,14829351,2018,53379,5,6044.9546,20170205564600,NaN,NaN,...,NaN,NaN,NaN,99.99,480.00,999.0,0.0,3060.0,81.5,86.1
20570,199267,199267,14830319,2018,53941,5,3922.4885,20180305445000,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,4620.0,48.6,38.1
20576,199331,199331,14830503,2018,54048,5,3770.8208,20170305627800,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,4620.0,48.6,38.1
20606,199518,199518,14831401,2018,54592,5,2830.9034,20180405482000,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3060.0,81.5,86.1
20607,199519,199519,14831402,2018,54592,5,2830.9034,20180405482000,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3060.0,81.5,86.1
20616,199625,199625,14831577,2018,54688,5,3410.2033,20170505663500,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,2810.0,52.5,59.8

In [10]:
q1_ob.OCC.value_counts().sort_index()

135        4
840      189
1740      67
2810      51
2840      52
3060     713
3250      86
3930     443
3940      76
4000     296
4020     926
4030     555
4040     386
4060     122
4110    1281
4120     181
4140     174
4220    1131
4230     664
4250     627
4610     546
4620     296
4720    1966
4760    1808
4800     132
4900      57
4965     129
5510     109
5610     382
5620     889
6040      48
6200     358
6250      20
6330      25
6355     484
6700      10
7150     166
7260      28
7610      19
7720     152
7800     154
8140     361
8220     239
8460       7
8610      62
8800     227
8810      90
8965     626
9000      64
9120     378
9130    1873
9140     216
9150      28
9600     414
9620    1444
9640     328
9750      21
Name: OCC, dtype: int64

In [11]:
#q2 obs : 17443 
OCC_q2 = occ_list['OCC_q2']
OCC_q2 = pd.DataFrame(OCC_q2)
OCC_q2 = list(OCC_q2.values.flatten())
OCC_q2
q2_ob = df.loc[df['OCC'].isin(OCC_q2)]
q2_ob

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,...,PAIDGH,EMCONTRB,JTOCC,HOURWAGE,EARNWEEK,UHRSWORKORG,WKSWORKORG,OCC2010_y,PRESGL,PRENT
6,73,73,4502,2010,2700,1,2658.6825,20091000264000,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,6420.0,29.8,33.9
10,112,112,4553,2010,2727,1,2857.6916,20090101460800,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4510.0,35.0,36.1
13,123,123,4619,2010,2773,1,4579.0155,20091205725000,NaN,NaN,...,NaN,NaN,4030.0,99.99,9999.99,999.0,0.0,5860.0,35.5,33.9
33,385,385,28892,2010,15218,1,3999.3536,20081103800300,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,5350.0,35.5,31.2
37,418,418,28925,2010,15231,1,3038.8233,20090103891100,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4510.0,35.0,36.1
46,545,545,29125,2010,15342,1,4536.3246,20100101534200,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,7840.0,28.4,29.6
52,578,578,29186,2010,15370,1,2659.9043,20081005556000,NaN,NaN,...,NaN,NaN,0.0,99.99,1000.00,999.0,52.0,7330.0,32.8,29.5
55,617,617,29312,2010,15417,1,3181.1336,20081100247600,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,7330.0,32.8,29.5
57,676,676,29444,2010,15486,1,2956.1903,20090104772900,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,7750.0,28.4,34.0
58,697,697,36316,2010,18799,1,3012.1770,20091204479100,NaN,NaN,...,NaN,NaN,2320.0,99.99,9999.99,999.0,0.0,7010.0,33.9,51.4
60,714,714,36338,2010,18810,1,2858.1973,20091201589400,NaN,NaN,...,NaN,NaN,6260.0,99.99,9999.99,999.0,0.0,6260.0,17.5,36.4
74,854,854,56554,2010,29536,1,3211.9624,20091107123700,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4510.0,35.0,36.1
80,889,889,56684,2010,29617,1,3029.7142,20090106412900,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,3910.0,21.9,59.7
84,942,942,56776,2010,29685,1,3230.9018,20090106768200,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,7010.0,33.9,51.4
87,952,952,56786,2010,29688,1,3085.0775,20090101477000,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4830.0,35.4,35.3
90,966,966,56828,2010,29716,1,4812.2892,20081005538800,NaN,NaN,...,NaN,NaN,0.0,8.00,160.00,20.0,0.0,7010.0,33.9,51.4
93,990,990,60971,2010,31947,1,2808.9957,20081103803500,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,5860.0,35.5,33.9
94,1000,1000,60986,2010,31952,1,2911.8129,20091203082100,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4510.0,35.0,36.1
99,1043,1043,78556,2010,41199,1,2903.7469,20100104119900,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,7330.0,32.8,29.5
100,1077,1077,78590,2010,41212,1,3861.3800,20091004922000,NaN,NaN,...,NaN,NaN,0.0,12.60,504.00,40.0,0.0,5100.0,25.9,24.3
102,1121,1121,78671,2010,41257,1,3039.3611,20091206528100,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,6420.0,29.8,33.9
110,1198,1198,78852,2010,41347,1,3002.5387,20090106052700,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,6720.0,28.4,32.6
113,1232,1232,82060,2010,43046,1,3094.6308,20091107129200,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,7750.0,28.4,34.0
120,1328,1328,95316,2010,49542,1,2911.8129,20091201589900,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,7750.0,28.4,34.0
123,1339,1339,95346,2010,49558,1,2917.0760,20090105545300,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,6260.0,17.5,36.4
125,1358,1358,95415,2010,49590,1,2963.8745,20091206849700,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4510.0,35.0,36.1
130,1384,1384,95441,2010,49603,1,3176.3751,20081206431500,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4510.0,35.0,36.1
131,1387,1387,95444,2010,49604,1,3052.6830,20081204869300,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,5100.0,25.9,24.3
132,1389,1389,95446,2010,49605,1,3430.7808,20090102807200,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,4510.0,35.0,36.1
151,1555,1555,121909,2010,61938,1,3107.9920,20090106045500,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,5860.0,35.5,33.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20260,196345,196345,14582949,2018,54677,3,3663.7980,20180105469100,2.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,20.0,50.3,56.5
20272,196436,196436,14583201,2018,54834,3,4736.1826,20180205485600,2.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,1820.0,71.4,69.4
20282,196527,196527,14583728,2018,55141,3,4369.9232,20180205516200,2.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,20.0,50.3,56.5
20292,196624,196624,14583877,2018,55228,3,3252.1719,20170605659900,2.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,220.0,50.3,56.5
20337,197107,197107,14705215,2018,53379,4,5132.2535,20180205369300,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,220.0,50.3,56.5
20349,197239,197239,14705390,2018,53492,4,3627.9215,20180405349200,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,20.0,50.3,56.5
20381,197527,197527,14705970,2018,53849,4,4403.0706,20180405384900,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,20.0,50.3,56.5
20382,197540,197540,14705997,2018,53865,4,3775.1105,20170105583000,0.0,NaN,...,NaN,NaN,NaN,99.99,2634.00,999.0,0.0,20.0,50.3,56.5
20384,197568,197568,14706032,2018,53884,4,4616.5869,20180205421800,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,220.0,50.3,56.5
20390,197633,197633,14706159,2018,53960,4,3950.5397,20180405396000,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,220.0,50.3,56.5
20403,197728,197728,14706364,2018,54082,4,3340.8273,20180405408200,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,1820.0,71.4,69.4
20404,197729,197729,14706367,2018,54084,4,3636.7956,20170205614200,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,220.0,50.3,56.5
20405,197741,197741,14706389,2018,54099,4,3340.8273,20180405409900,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,220.0,50.3,56.5
20411,197792,197792,14706555,2018,54201,4,3773.0137,20170305618500,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,1820.0,71.4,69.4
20430,197918,197918,14706869,2018,54397,4,3670.7382,20180105469100,0.0,NaN,...,NaN,NaN,NaN,19.50,865.38,999.0,52.0,20.0,50.3,56.5
20443,198005,198005,14707117,2018,54556,4,4493.0152,20180205485600,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,1820.0,71.4,69.4
20455,198099,198099,14707662,2018,54865,4,4205.4506,20180205516200,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,20.0,50.3,56.5
20482,198412,198412,14708142,2018,55143,4,5407.9207,20180205543300,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,220.0,50.3,56.5
20516,198755,198755,14829197,2018,53257,5,4487.7833,20180405349200,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,20.0,50.3,56.5
20542,199026,199026,14829763,2018,53622,5,4386.9286,20180405384900,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,20.0,50.3,56.5
20546,199072,199072,14829835,2018,53657,5,4659.1808,20180205421800,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,220.0,50.3,56.5
20547,199086,199086,14829863,2018,53678,5,3850.5950,20180505367800,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,220.0,50.3,56.5
20562,199215,199215,14830180,2018,53858,5,3375.6412,20180405408200,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,1820.0,71.4,69.4
20563,199216,199216,14830181,2018,53859,5,3752.9761,20170205614200,NaN,NaN,...,NaN,NaN,NaN,99.99,500.00,999.0,0.0,220.0,50.3,56.5
20566,199235,199235,14830210,2018,53875,5,3375.6412,20180405409900,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,220.0,50.3,56.5
20574,199284,199284,14830371,2018,53971,5,3677.5791,20170305618500,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,1820.0,71.4,69.4
20610,199563,199563,14831477,2018,54629,5,4550.2334,20180205516200,NaN,NaN,...,NaN,NaN,NaN,99.99,1192.30,999.0,52.0,20.0,50.3,56.5
20637,199863,199863,14831954,2018,54902,5,5821.1694,20180205543300,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,220.0,50.3,56.5
20639,199899,199899,14832004,2018,54924,5,3366.7196,20180505492400,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,20.0,50.3,56.5
20647,200014,200014,14832218,2018,55044,5,4939.6006,20170605694400,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,220.0,50.3,56.5

In [13]:
q2_ob.OCC.value_counts().sort_index()

20       751
220      502
310      736
940       58
1820     173
2160      99
2440      17
3030      65
3600    1358
3800     159
3910      79
3945      16
4010     276
4210     191
4510     418
4700    1653
4830      81
4840     364
5100     102
5110     336
5140     113
5160     253
5240    1333
5250      57
5320      41
5350      95
5360      53
5400     698
5420      52
5520     154
5540      93
5550     203
5560      93
5600     162
5700    1867
5810     257
5840     192
5860     595
6260     737
6320     117
6400      28
6420     289
6515      68
6530      69
6660      50
6720      21
7010     169
7200     723
7330     241
7340     331
7420     122
7630      73
7750     485
7840      69
7900      44
9200      62
Name: OCC, dtype: int64

In [14]:
#q3 obs : 15210 
OCC_q3 = occ_list['OCC_q3']
OCC_q3 = pd.DataFrame(OCC_q3)
OCC_q3 = list(OCC_q3.values.flatten())
OCC_q3
q3_ob = df.loc[df['OCC'].isin(OCC_q3)]
q3_ob

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,...,PAIDGH,EMCONTRB,JTOCC,HOURWAGE,EARNWEEK,UHRSWORKORG,WKSWORKORG,OCC2010_y,PRESGL,PRENT
0,0,0,4360,2010,2611,1,2633.6673,20091206245800,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,6440.0,40.6,44.6
6,70,70,4499,2010,2699,1,2633.6673,20081206426500,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,5120.0,47.6,46.6
12,126,126,4622,2010,2774,1,2936.5530,20091206252200,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,8500.0,38.6,43.8
14,144,144,4640,2010,2781,1,3211.9624,20081102644300,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,5120.0,47.6,46.6
15,158,158,4655,2010,2792,1,3502.5469,20091203090100,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,8030.0,47.8,46.9
17,189,189,4686,2010,2812,1,2901.7670,20091106323200,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,410.0,38.3,38.5
20,270,270,12030,2010,6271,1,2861.4301,20091001515500,NaN,NaN,...,NaN,NaN,0.0,99.99,669.00,999.0,0.0,6440.0,40.6,44.6
24,328,328,12129,2010,6318,1,3135.3102,20091106323300,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,6440.0,40.6,44.6
31,399,399,28906,2010,15222,1,3096.3750,20081201480600,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,8740.0,28.4,32.8
34,429,429,28936,2010,15234,1,3076.3372,20090104756400,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,2330.0,46.0,65.1
44,569,569,29177,2010,15367,1,2797.7074,20091203084500,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,7810.0,32.1,34.7
48,605,605,29300,2010,15412,1,2958.2403,20100101541200,NaN,NaN,...,NaN,NaN,4110.0,99.99,9999.99,999.0,0.0,2330.0,46.0,65.1
50,631,631,29326,2010,15426,1,2910.5647,20091101750700,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,2330.0,46.0,65.1
55,712,712,36336,2010,18810,1,2858.1973,20091201589400,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,3500.0,41.9,60.0
59,771,771,56426,2010,29455,1,2917.0760,20100102945500,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,160.0,50.3,42.3
61,807,807,56481,2010,29487,1,2734.2554,20091006530200,NaN,NaN,...,NaN,NaN,0.0,99.99,650.00,999.0,0.0,5120.0,47.6,46.6
62,834,834,56534,2010,29522,1,3756.3797,20081005537400,NaN,NaN,...,NaN,NaN,0.0,99.99,448.00,999.0,0.0,5120.0,47.6,46.6
63,845,845,56545,2010,29527,1,2934.0235,20081103803400,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,8740.0,28.4,32.8
76,1006,1006,60992,2010,31955,1,2858.1973,20081204016600,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,3500.0,41.9,60.0
77,1014,1014,61028,2010,31968,1,2808.9957,20091104335100,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,8500.0,38.6,43.8
78,1015,1015,61029,2010,31968,1,2808.9957,20091104335100,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,3500.0,41.9,60.0
82,1062,1062,78575,2010,41208,1,3029.7142,20090101452200,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,8740.0,28.4,32.8
86,1131,1131,78681,2010,41264,1,4780.8944,20091005627100,NaN,NaN,...,NaN,NaN,0.0,13.52,288.00,999.0,0.0,8030.0,47.8,46.9
88,1179,1179,78789,2010,41317,1,2910.5647,20091105147600,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,3640.0,47.8,44.6
89,1191,1191,78845,2010,41343,1,2829.2943,20081005385800,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,8030.0,47.8,46.9
90,1214,1214,78882,2010,41367,1,4250.6228,20081100254400,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,5120.0,47.6,46.6
94,1255,1255,95204,2010,49492,1,3143.3765,20100104949200,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,6220.0,35.7,34.8
97,1273,1273,95229,2010,49507,1,3107.9920,20100104950700,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,1060.0,50.6,73.7
98,1274,1274,95230,2010,49508,1,3000.7730,20100104950800,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,2750.0,46.0,46.6
99,1283,1283,95249,2010,49516,1,3157.5735,20091204478900,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,160.0,50.3,42.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20435,197953,197953,14706942,2018,54439,4,3704.3144,20180405443900,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,130.0,56.0,53.9
20436,197958,197958,14706972,2018,54463,4,3682.2227,20170305645000,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,10.0,50.3,70.5
20452,198075,198075,14707626,2018,54854,4,3333.0821,20180105512200,0.0,NaN,...,NaN,NaN,NaN,99.99,2500.00,999.0,52.0,10.0,50.3,70.5
20453,198088,198088,14707648,2018,54862,4,3588.2752,20180305513700,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,10.0,50.3,70.5
20463,198218,198218,14707843,2018,54975,4,3890.9468,20180105524000,0.0,NaN,...,NaN,NaN,NaN,18.00,720.00,40.0,0.0,560.0,40.6,50.1
20464,198271,198271,14707918,2018,55016,4,4130.3219,20170205711200,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,2320.0,59.6,66.4
20465,198291,198291,14707951,2018,55034,4,3962.5085,20180305531300,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,710.0,54.4,60.7
20477,198379,198379,14708090,2018,55123,4,3449.5303,20170305714600,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,10.0,50.3,70.5
20478,198380,198380,14708091,2018,55123,4,3449.5303,20170305714600,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,2320.0,59.6,66.4
20481,198408,198408,14708129,2018,55138,4,3275.9983,20180305540900,0.0,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,2320.0,59.6,66.4
20485,198430,198430,14708165,2018,55154,4,3595.8518,20170105716100,0.0,NaN,...,NaN,NaN,NaN,99.99,1153.84,999.0,52.0,2320.0,59.6,66.4
20511,198689,198689,14829116,2018,53204,5,3933.7821,20180305372900,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,130.0,56.0,53.9
20512,198699,198699,14829129,2018,53211,5,4193.1810,20170305541300,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,10.0,50.3,70.5
20514,198740,198740,14829182,2018,53247,5,3926.6475,20180305376700,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,710.0,54.4,60.7
20535,198915,198915,14829491,2018,53478,5,3605.8408,20180305401200,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,10.0,50.3,70.5
20537,198956,198956,14829581,2018,53515,5,4286.9699,20180505351500,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,2320.0,59.6,66.4
20543,199040,199040,14829791,2018,53639,5,5393.9115,20180405386600,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,130.0,56.0,53.9
20554,199157,199157,14830049,2018,53774,5,4118.8822,20180505377400,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,10.0,50.3,70.5
20567,199247,199247,14830259,2018,53900,5,5041.4131,20170205618000,NaN,NaN,...,NaN,NaN,NaN,99.99,1000.00,999.0,0.0,710.0,54.4,60.7
20568,199256,199256,14830285,2018,53907,5,4090.0973,20180305441200,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,2320.0,59.6,66.4
20578,199335,199335,14830507,2018,54049,5,3544.9356,20170505597200,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,10.0,50.3,70.5
20593,199438,199438,14830772,2018,54203,5,4266.5131,20180405443400,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,130.0,56.0,53.9
20596,199448,199448,14830782,2018,54210,5,3748.7369,20180405443900,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,130.0,56.0,53.9
20598,199454,199454,14830812,2018,54232,5,3637.3260,20170305645000,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,10.0,50.3,70.5
20609,199556,199556,14831467,2018,54627,5,3503.7920,20180305513700,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,10.0,50.3,70.5
20620,199744,199744,14831753,2018,54781,5,4353.9024,20170205711200,NaN,NaN,...,NaN,NaN,NaN,99.99,1153.84,999.0,52.0,2320.0,59.6,66.4
20621,199765,199765,14831788,2018,54797,5,3749.8599,20180305531300,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,710.0,54.4,60.7
20632,199829,199829,14831887,2018,54868,5,3503.7920,20180305538100,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,130.0,56.0,53.9
20633,199835,199835,14831906,2018,54884,5,3368.3137,20170305714600,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,10.0,50.3,70.5
20634,199836,199836,14831907,2018,54884,5,3368.3137,20170305714600,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,2320.0,59.6,66.4

In [15]:
q3_ob.OCC.value_counts().sort_index()

10      985
40       44
136     158
150     118
160     173
410     175
420     198
540     269
565     225
600     150
640      72
710     506
860     117
910     149
1007     36
1050    378
1060     69
1107    273
1430    108
1550    167
1920     46
2000    539
2010    692
2025     52
2050     51
2145    201
2300    563
2320    755
2330    272
2750    106
3245    141
3300    178
3320    304
3500    438
3535     74
3640    140
3655    162
3740    165
4710    757
4810    282
4850    827
5000    883
5120    676
5800     97
5940    272
6220    232
6360     38
6440    433
7000    129
7020    109
7700    386
7810    110
8030    226
8130     61
8500     69
8740    374
Name: OCC, dtype: int64

In [16]:
#q4 obs : 19874 
OCC_q4 = occ_list['OCC_q4']
OCC_q4 = pd.DataFrame(OCC_q4)
OCC_q4 = list(OCC_q4.values.flatten())
OCC_q4
q4_ob = df.loc[df['OCC'].isin(OCC_q4)]
q4_ob

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,...,PAIDGH,EMCONTRB,JTOCC,HOURWAGE,EARNWEEK,UHRSWORKORG,WKSWORKORG,OCC2010_y,PRESGL,PRENT
3,11,11,4371,2010,2616,1,3250.7058,20081204857700,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,120.0,50.3,58.9
12,155,155,4652,2010,2790,1,3176.3751,20091203090000,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,6230.0,39.9,38.9
14,216,216,11945,2010,6233,1,2807.6216,20081101331600,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,6230.0,39.9,38.9
15,223,223,11952,2010,6235,1,3181.1336,20091103155700,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,1010.0,50.6,60.5
17,240,240,11991,2010,6253,1,2956.7134,20091206249000,NaN,NaN,...,NaN,NaN,5860.0,99.99,9999.99,999.0,0.0,3820.0,47.8,59.7
22,299,299,12081,2010,6294,1,3012.1940,20081204019000,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,3820.0,47.8,59.7
23,321,321,12122,2010,6314,1,2880.4128,20081005357400,NaN,NaN,...,NaN,NaN,0.0,37.50,750.00,20.0,0.0,2340.0,46.0,45.7
32,443,443,28991,2010,15270,1,3025.3185,20081105512000,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,120.0,50.3,58.9
33,448,448,28996,2010,15272,1,3096.3750,20081202909400,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,120.0,50.3,58.9
34,452,452,29000,2010,15275,1,3926.2716,20091006184900,NaN,NaN,...,NaN,NaN,0.0,99.99,1538.46,999.0,52.0,120.0,50.3,58.9
37,467,467,29025,2010,15295,1,3559.0718,20081005549800,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,2340.0,46.0,45.7
38,481,481,29039,2010,15300,1,2903.8187,20090104760100,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,6230.0,39.9,38.9
40,523,523,29081,2010,15321,1,3341.5713,20081205582800,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,120.0,50.3,58.9
41,530,530,29088,2010,15323,1,3107.9920,20090102796100,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,2340.0,46.0,45.7
42,531,531,29089,2010,15325,1,2906.0264,20091006532300,NaN,NaN,...,NaN,NaN,0.0,18.80,530.00,999.0,0.0,100.0,50.3,56.5
47,635,635,29353,2010,15439,1,3374.1968,20091205024100,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,2630.0,58.2,46.5
48,637,637,29355,2010,15440,1,2281.2721,20081005382200,NaN,NaN,...,NaN,NaN,0.0,30.00,1200.00,40.0,0.0,6230.0,39.9,38.9
51,668,668,29386,2010,15454,1,3020.9492,20091007086000,NaN,NaN,...,NaN,NaN,0.0,99.99,1430.76,999.0,0.0,2340.0,46.0,45.7
56,716,716,36340,2010,18811,1,3157.1438,20091203082000,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,6230.0,39.9,38.9
62,769,769,56424,2010,29454,1,3012.1770,20091205010700,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,1010.0,50.6,60.5
63,784,784,56439,2010,29458,1,3362.3989,20081206425700,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,6230.0,39.9,38.9
66,794,794,56468,2010,29480,1,3029.7142,20100102948000,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,6230.0,39.9,38.9
67,809,809,56483,2010,29488,1,3861.3800,20091006530300,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,6230.0,39.9,38.9
69,816,816,56505,2010,29501,1,3180.6125,20081106102700,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,120.0,50.3,58.9
71,857,857,56557,2010,29537,1,2887.5143,20091103164000,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,120.0,50.3,58.9
72,887,887,56682,2010,29616,1,3016.0369,20081107081800,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,1010.0,50.6,60.5
77,962,962,56824,2010,29712,1,2972.4519,20091206256000,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,2630.0,58.2,46.5
78,980,980,60951,2010,31941,1,2875.9104,20091201580200,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,120.0,50.3,58.9
82,1076,1076,78589,2010,41212,1,3861.3800,20091004922000,NaN,NaN,...,NaN,NaN,0.0,99.99,704.00,999.0,0.0,120.0,50.3,58.9
86,1126,1126,78676,2010,41261,1,3143.3765,20090101459600,NaN,NaN,...,NaN,NaN,0.0,99.99,9999.99,999.0,0.0,2340.0,46.0,45.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20614,199589,199589,14831522,2018,54658,5,3401.4693,20170305691500,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,800.0,56.7,65.4
20615,199594,199594,14831527,2018,54660,5,3658.3315,20180405489700,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,2310.0,59.6,64.1
20617,199645,199645,14831602,2018,54702,5,4905.3550,20170205703300,NaN,NaN,...,NaN,NaN,NaN,99.99,1500.00,999.0,52.0,430.0,50.3,56.5
20618,199655,199655,14831620,2018,54709,5,3168.1738,20170605659900,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,430.0,50.3,56.5
20619,199688,199688,14831680,2018,54746,5,3600.1111,20170505670500,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,2550.0,46.0,45.7
20622,199767,199767,14831790,2018,54800,5,3580.3878,20180505480000,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,430.0,50.3,56.5
20623,199785,199785,14831818,2018,54819,5,3410.2033,20170505679400,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3130.0,61.5,66.5
20624,199788,199788,14831825,2018,54825,5,3276.5854,20170405692500,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,350.0,61.5,69.2
20625,199799,199799,14831838,2018,54830,5,4049.4631,20180305534600,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,8760.0,61.0,55.9
20626,199800,199800,14831839,2018,54831,5,3448.0826,20170305709600,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,1460.0,62.3,64.1
20627,199801,199801,14831840,2018,54831,5,3448.0826,20170305709600,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3130.0,61.5,66.5
20628,199809,199809,14831855,2018,54850,5,4442.4016,20170205718000,NaN,NaN,...,NaN,NaN,NaN,99.99,1442.30,999.0,52.0,800.0,56.7,65.4
20629,199810,199810,14831856,2018,54850,5,4442.4016,20170205718000,NaN,NaN,...,NaN,NaN,NaN,17.00,306.00,18.0,0.0,2310.0,59.6,64.1
20630,199813,199813,14831859,2018,54852,5,2943.5349,20180405509000,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,2310.0,59.6,64.1
20631,199814,199814,14831860,2018,54852,5,2943.5349,20180405509000,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,430.0,50.3,56.5
20635,199859,199859,14831942,2018,54899,5,3226.3291,20180305540900,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,2310.0,59.6,64.1
20636,199860,199860,14831943,2018,54899,5,3226.3291,20180305540900,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3400.0,61.0,56.7
20638,199892,199892,14831997,2018,54920,5,3220.4776,20180305543400,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,30.0,50.0,56.9
20640,199936,199936,14832076,2018,54960,5,3468.9197,20170405707000,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,1020.0,50.6,60.5
20641,199944,199944,14832084,2018,54963,5,4228.5933,20180405520800,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,1300.0,70.5,73.2
20642,199956,199956,14832103,2018,54979,5,3737.8669,20170405708700,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,430.0,50.3,56.5
20643,199981,199981,14832149,2018,55006,5,2968.5652,20170305727400,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3130.0,61.5,66.5
20644,200000,200000,14832188,2018,55027,5,3493.0976,20180305554000,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,2550.0,46.0,45.7
20645,200009,200009,14832197,2018,55032,5,3273.9733,20180505503200,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,110.0,50.3,56.5
20646,200013,200013,14832217,2018,55044,5,4939.6006,20170605694400,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,800.0,56.7,65.4
20648,200020,200020,14832228,2018,55051,5,3760.3273,20170305731000,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,3130.0,61.5,66.5
20649,200031,200031,14832244,2018,55061,5,3303.3188,20180405529800,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,430.0,50.3,56.5
20650,200032,200032,14832245,2018,55061,5,3303.3188,20180405529800,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,2310.0,59.6,64.1
20651,200056,200056,14832294,2018,55086,5,3282.7580,20170505705700,NaN,NaN,...,NaN,NaN,NaN,99.99,9999.99,999.0,0.0,1460.0,62.3,64.1
20652,200057,200057,14832299,2018,55092,5,2986.6895,20170205741900,NaN,NaN,...,NaN,NaN,NaN,99.99,1634.61,999.0,52.0,1410.0,69.4,64.2

In [17]:
q4_ob.OCC.value_counts().sort_index()

50       781
100       99
110      412
120      658
140      174
230      496
300       81
350      393
425        5
430     2301
520      173
530      153
630      410
650       48
735      253
740      169
800     1121
830       34
850      307
950       43
1006     310
1010     328
1020     767
1300     112
1360     201
1410     146
1460     167
1530     201
1650     153
1720      99
1760     193
1965      87
2040     139
2100     708
2200     749
2310    1504
2340     398
2550      77
2600     107
2630     512
2800      22
2900      50
3000      24
3050     175
3110      66
3255    1917
3310     119
3400     188
3420     262
3645     289
3820     154
3850     401
4300      80
4820     173
6230     787
7410      45
8760      53
Name: OCC, dtype: int64

In [19]:
q1_ob.to_csv('C:/Users/yfeng/Desktop/cps/Sep_17_new_Q1_low_wage_report/q1_obs_22180_correct.csv')
q2_ob.to_csv('C:/Users/yfeng/Desktop/cps/Sep_17_new_Q1_low_wage_report/q2_obs_17443_correct.csv')
q3_ob.to_csv('C:/Users/yfeng/Desktop/cps/Sep_17_new_Q1_low_wage_report/q3_obs_15210_correct.csv')
q4_ob.to_csv('C:/Users/yfeng/Desktop/cps/Sep_17_new_Q1_low_wage_report/q4_obs_19874_correct.csv')

# Analyze Q1-Q4 Demographic

In [21]:
q1_ob['quartile']='q1'
q2_ob['quartile']='q2'
q3_ob['quartile']='q3'
q4_ob['quartile']='q4'

C:\Users\yfeng\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\yfeng\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\yfeng\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\yfeng\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [23]:
data = pd.concat([q1_ob, q2_ob, q3_ob, q4_ob])

In [24]:
data
# 74707 rows Ã— 54 columns

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,...,EMCONTRB,JTOCC,HOURWAGE,EARNWEEK,UHRSWORKORG,WKSWORKORG,OCC2010_y,PRESGL,PRENT,quartile
0,25,25,4385,2010,2621,1,3094.6308,20091100281000,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,9130.0,32.1,30.4,q1
1,32,32,4404,2010,2636,1,2989.8559,20081005418300,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,9620.0,17.5,24.0,q1
2,41,41,4413,2010,2640,1,2987.2396,20081202906200,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,4720.0,30.9,29.5,q1
3,47,47,4449,2010,2660,1,3334.6547,20081101335300,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,4220.0,16.1,22.3,q1
4,51,51,4453,2010,2661,1,3016.0369,20081106102600,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,9130.0,32.1,30.4,q1
5,68,68,4497,2010,2696,1,3320.4949,20091205016600,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,9140.0,22.0,28.1,q1
7,93,93,4522,2010,2707,1,2936.5530,20081205882700,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,4000.0,26.4,30.7,q1
8,103,103,4532,2010,2710,1,2544.1069,20091006186600,NaN,NaN,...,NaN,0.0,25.00,1000.00,40.0,0.0,9100.0,32.4,32.1,q1
9,109,109,4550,2010,2725,1,3142.3940,20091203081900,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,9620.0,17.5,24.0,q1
11,119,119,4560,2010,2731,1,3561.0132,20091004063000,NaN,NaN,...,NaN,0.0,7.25,234.50,999.0,0.0,4060.0,15.3,21.1,q1
12,120,120,4577,2010,2741,1,2934.0235,20081101345300,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,9130.0,32.1,30.4,q1
14,133,133,4629,2010,2776,1,2903.7469,20100100277600,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,9130.0,32.1,30.4,q1
15,138,138,4634,2010,2777,1,2906.0264,20081005433700,NaN,NaN,...,NaN,0.0,7.25,253.75,35.0,0.0,4060.0,15.3,21.1,q1
16,184,184,4681,2010,2810,1,3663.0131,20091104332900,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,4760.0,32.8,33.6,q1
17,202,202,4773,2010,2867,1,2388.6063,20091005633400,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,8800.0,28.4,25.1,q1
18,205,205,11927,2010,6229,1,2081.4572,20081204857800,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,8800.0,28.4,25.1,q1
19,207,207,11929,2010,6229,1,2081.4572,20081204857800,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,4720.0,30.9,29.5,q1
20,215,215,11944,2010,6232,1,2910.5647,20081102626600,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,8610.0,35.0,40.2,q1
21,250,250,12001,2010,6259,1,3042.7988,20081005434300,NaN,NaN,...,NaN,0.0,32.00,1280.00,40.0,0.0,6200.0,50.3,53.2,q1
22,264,264,12024,2010,6267,1,2858.1973,20091201589500,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,9100.0,32.4,32.1,q1
23,275,275,12035,2010,6272,1,2605.6782,20091001515700,NaN,NaN,...,NaN,0.0,99.99,692.00,999.0,0.0,4760.0,32.8,33.6,q1
24,277,277,12037,2010,6274,1,2640.2708,20091103166800,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,4000.0,26.4,30.7,q1
25,288,288,12070,2010,6289,1,2659.9043,20081005563500,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,4250.0,22.5,28.6,q1
26,318,318,12119,2010,6313,1,3908.7225,20081005381500,NaN,NaN,...,NaN,0.0,12.00,480.00,40.0,0.0,4220.0,16.1,22.3,q1
27,360,360,28849,2010,15196,1,2797.7074,20091203070100,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,7260.0,21.6,43.5,q1
28,361,361,28850,2010,15197,1,2440.8800,20081102623300,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,9130.0,32.1,30.4,q1
29,366,366,28855,2010,15198,1,3303.7087,20081206425500,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,9130.0,32.1,30.4,q1
30,375,375,28864,2010,15201,1,3147.9523,20090106698800,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,7720.0,28.4,34.0,q1
31,376,376,28865,2010,15202,1,2680.6214,20090105541200,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,9130.0,32.1,30.4,q1
32,378,378,28867,2010,15202,1,2680.6214,20090105541200,NaN,NaN,...,NaN,0.0,99.99,9999.99,999.0,0.0,8800.0,28.4,25.1,q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20614,199589,199589,14831522,2018,54658,5,3401.4693,20170305691500,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,800.0,56.7,65.4,q4
20615,199594,199594,14831527,2018,54660,5,3658.3315,20180405489700,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,2310.0,59.6,64.1,q4
20617,199645,199645,14831602,2018,54702,5,4905.3550,20170205703300,NaN,NaN,...,NaN,NaN,99.99,1500.00,999.0,52.0,430.0,50.3,56.5,q4
20618,199655,199655,14831620,2018,54709,5,3168.1738,20170605659900,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,430.0,50.3,56.5,q4
20619,199688,199688,14831680,2018,54746,5,3600.1111,20170505670500,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,2550.0,46.0,45.7,q4
20622,199767,199767,14831790,2018,54800,5,3580.3878,20180505480000,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,430.0,50.3,56.5,q4
20623,199785,199785,14831818,2018,54819,5,3410.2033,20170505679400,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,3130.0,61.5,66.5,q4
20624,199788,199788,14831825,2018,54825,5,3276.5854,20170405692500,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,350.0,61.5,69.2,q4
20625,199799,199799,14831838,2018,54830,5,4049.4631,20180305534600,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,8760.0,61.0,55.9,q4
20626,199800,199800,14831839,2018,54831,5,3448.0826,20170305709600,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,1460.0,62.3,64.1,q4
20627,199801,199801,14831840,2018,54831,5,3448.0826,20170305709600,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,3130.0,61.5,66.5,q4
20628,199809,199809,14831855,2018,54850,5,4442.4016,20170205718000,NaN,NaN,...,NaN,NaN,99.99,1442.30,999.0,52.0,800.0,56.7,65.4,q4
20629,199810,199810,14831856,2018,54850,5,4442.4016,20170205718000,NaN,NaN,...,NaN,NaN,17.00,306.00,18.0,0.0,2310.0,59.6,64.1,q4
20630,199813,199813,14831859,2018,54852,5,2943.5349,20180405509000,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,2310.0,59.6,64.1,q4
20631,199814,199814,14831860,2018,54852,5,2943.5349,20180405509000,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,430.0,50.3,56.5,q4
20635,199859,199859,14831942,2018,54899,5,3226.3291,20180305540900,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,2310.0,59.6,64.1,q4
20636,199860,199860,14831943,2018,54899,5,3226.3291,20180305540900,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,3400.0,61.0,56.7,q4
20638,199892,199892,14831997,2018,54920,5,3220.4776,20180305543400,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,30.0,50.0,56.9,q4
20640,199936,199936,14832076,2018,54960,5,3468.9197,20170405707000,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,1020.0,50.6,60.5,q4
20641,199944,199944,14832084,2018,54963,5,4228.5933,20180405520800,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,1300.0,70.5,73.2,q4
20642,199956,199956,14832103,2018,54979,5,3737.8669,20170405708700,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,430.0,50.3,56.5,q4
20643,199981,199981,14832149,2018,55006,5,2968.5652,20170305727400,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,3130.0,61.5,66.5,q4
20644,200000,200000,14832188,2018,55027,5,3493.0976,20180305554000,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,2550.0,46.0,45.7,q4
20645,200009,200009,14832197,2018,55032,5,3273.9733,20180505503200,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,110.0,50.3,56.5,q4
20646,200013,200013,14832217,2018,55044,5,4939.6006,20170605694400,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,800.0,56.7,65.4,q4
20648,200020,200020,14832228,2018,55051,5,3760.3273,20170305731000,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,3130.0,61.5,66.5,q4
20649,200031,200031,14832244,2018,55061,5,3303.3188,20180405529800,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,430.0,50.3,56.5,q4
20650,200032,200032,14832245,2018,55061,5,3303.3188,20180405529800,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,2310.0,59.6,64.1,q4
20651,200056,200056,14832294,2018,55086,5,3282.7580,20170505705700,NaN,NaN,...,NaN,NaN,99.99,9999.99,999.0,0.0,1460.0,62.3,64.1,q4
20652,200057,200057,14832299,2018,55092,5,2986.6895,20170205741900,NaN,NaN,...,NaN,NaN,99.99,1634.61,999.0,52.0,1410.0,69.4,64.2,q4

In [34]:
edu = data.groupby(['quartile'])['EDUC'].value_counts().sort_index()
edu = pd.DataFrame(edu)
edu.columns = ['num_of_employee']
edu = edu.reset_index()
edu.loc[edu['EDUC']==73, 'education']='High School'
edu.loc[edu['EDUC'].isin([80,90,100,110,120,122,81,92,91]), 'education']='Some College'
edu.loc[edu['EDUC'].isin([123,111,125,124]), 'education']='Four-Year College Degree or More'
edu.loc[~edu['EDUC'].isin([73,80,90,100,110,120,122,81,92,91,123,111,125,124]), 'education']='Less Than High School'

In [35]:
edu

   quartile  EDUC  num_of_employee                         education
0        q1     2               49             Less Than High School
1        q1    10              107             Less Than High School
2        q1    20              184             Less Than High School
3        q1    30              409             Less Than High School
4        q1    40              361             Less Than High School
5        q1    50              531             Less Than High School
6        q1    60              987             Less Than High School
7        q1    71              417             Less Than High School
8        q1    73            10471                       High School
9        q1    81             3823                      Some College
10       q1    91              728                      Some College
11       q1    92              774                      Some College
12       q1   111             2161  Four-Year College Degree or More
13       q1   123              341  Four-Year College Degree or More
14       q1   124              525  Four-Year College Degree or More
15       q1   125              312  Four-Year College Degree or More
16       q2     2                2             Less Than High School
17       q2    10               16             Less Than High School
18       q2    20               46             Less Than High School
19       q2    30              145             Less Than High School
20       q2    40              162             Less Than High School
21       q2    50              218             Less Than High School
22       q2    60              248             Less Than High School
23       q2    71              159             Less Than High School
24       q2    73             7203                       High School
25       q2    81             3252                      Some College
26       q2    91              895                      Some College
27       q2    92             1270                      Some College
28       q2   111             3076  Four-Year College Degree or More
29       q2   123              627  Four-Year College Degree or More
..      ...   ...              ...                               ...
34       q3    20               33             Less Than High School
35       q3    30               53             Less Than High School
36       q3    40               96             Less Than High School
37       q3    50               57             Less Than High School
38       q3    60               71             Less Than High School
39       q3    71               77             Less Than High School
40       q3    73             3460                       High School
41       q3    81             1961                      Some College
42       q3    91              784                      Some College
43       q3    92              987                      Some College
44       q3   111             5109  Four-Year College Degree or More
45       q3   123             2262  Four-Year College Degree or More
46       q3   124               86  Four-Year College Degree or More
47       q3   125              170  Four-Year College Degree or More
48       q4     2                9             Less Than High School
49       q4    10                7             Less Than High School
50       q4    20                4             Less Than High School
51       q4    30               61             Less Than High School
52       q4    40               17             Less Than High School
53       q4    50               42             Less Than High School
54       q4    60               54             Less Than High School
55       q4    71               42             Less Than High School
56       q4    73             2291                       High School
57       q4    81             1664                      Some College
58       q4    91              725                      Some College
59       q4    92             1149                      Some College
60       q4   111             8089  Four-Year College Degree or More
61       q4   123             4063  Four-Year College Degree or More
62       q4   124              722  Four-Year College Degree or More
63       q4   125              935  Four-Year College Degree or More

[64 rows x 4 columns]

In [37]:
edu2 = edu.groupby(['quartile','education'])['num_of_employee'].sum()

In [42]:
edu2 = pd.DataFrame(edu2)
edu2

                                           num_of_employee
quartile education
q1       Four-Year College Degree or More             3339
         High School                                 10471
         Less Than High School                        3045
         Some College                                 5325
q2       Four-Year College Degree or More             3827
         High School                                  7203
         Less Than High School                         996
         Some College                                 5417
q3       Four-Year College Degree or More             7627
         High School                                  3460
         Less Than High School                         391
         Some College                                 3732
q4       Four-Year College Degree or More            13809
         High School                                  2291
         Less Than High School                         236
         Some College                                 3538

In [45]:
edu2.num_of_employee.sum()

74707

In [46]:
# marital status
mar = data.groupby(['quartile'])['MARST'].value_counts().sort_index()
mar = pd.DataFrame(mar)
mar.columns = ['num_of_employee']
mar = mar.reset_index()

In [47]:
mar

   quartile  MARST  num_of_employee
0        q1      1             9037
1        q1      2              304
2        q1      3              660
3        q1      4             1677
4        q1      5              309
5        q1      6            10193
6        q2      1             9127
7        q2      2              179
8        q2      3              489
9        q2      4             1680
10       q2      5              259
11       q2      6             5709
12       q3      1             9367
13       q3      2              149
14       q3      3              381
15       q3      4             1128
16       q3      5              151
17       q3      6             4034
18       q4      1            12824
19       q4      2              266
20       q4      3              448
21       q4      4             1299
22       q4      5              270
23       q4      6             4767

In [50]:
mar.loc[mar['MARST'].isin([1,2]), 'marriage']='Married'
mar.loc[mar['MARST'].isin([3,4,5]), 'marriage']= 'Separated/Divorced/Widowed'
mar.loc[mar['MARST']==6, 'marriage']='Never married/single'

In [51]:
mar

   quartile  MARST  num_of_employee                    marriage
0        q1      1             9037                     Married
1        q1      2              304                     Married
2        q1      3              660  Separated/Divorced/Widowed
3        q1      4             1677  Separated/Divorced/Widowed
4        q1      5              309  Separated/Divorced/Widowed
5        q1      6            10193        Never married/single
6        q2      1             9127                     Married
7        q2      2              179                     Married
8        q2      3              489  Separated/Divorced/Widowed
9        q2      4             1680  Separated/Divorced/Widowed
10       q2      5              259  Separated/Divorced/Widowed
11       q2      6             5709        Never married/single
12       q3      1             9367                     Married
13       q3      2              149                     Married
14       q3      3              381  Separated/Divorced/Widowed
15       q3      4             1128  Separated/Divorced/Widowed
16       q3      5              151  Separated/Divorced/Widowed
17       q3      6             4034        Never married/single
18       q4      1            12824                     Married
19       q4      2              266                     Married
20       q4      3              448  Separated/Divorced/Widowed
21       q4      4             1299  Separated/Divorced/Widowed
22       q4      5              270  Separated/Divorced/Widowed
23       q4      6             4767        Never married/single

In [53]:
mar2 = mar.groupby(['quartile', 'marriage'])['num_of_employee'].sum()
mar2 = pd.DataFrame(mar2)
mar2

                                     num_of_employee
quartile marriage
q1       Married                                9341
         Never married/single                  10193
         Separated/Divorced/Widowed             2646
q2       Married                                9306
         Never married/single                   5709
         Separated/Divorced/Widowed             2428
q3       Married                                9516
         Never married/single                   4034
         Separated/Divorced/Widowed             1660
q4       Married                               13090
         Never married/single                   4767
         Separated/Divorced/Widowed             2017

In [54]:
mar2.num_of_employee.sum()

74707

In [57]:
# race
race = data.groupby(['quartile'])['RACE'].value_counts().sort_index()
race = pd.DataFrame(race)
race.columns = ['num_of_employee']
race = race.reset_index()
race.loc[race['RACE']== 100, 'race2']='White'
race.loc[race['RACE']== 200, 'race2']= 'Black'
race.loc[race['RACE']== 651, 'race2']= 'Asian'
race.loc[~race['RACE'].isin([100,200,651]), 'race2'] ='Other Races'
race2 = race.groupby(['quartile', 'race2'])['num_of_employee'].sum()
race2 = pd.DataFrame(race2)
race2

                      num_of_employee
quartile race2
q1       Asian                   1176
         Black                   4111
         Other Races              469
         White                  16424
q2       Asian                    524
         Black                   2933
         Other Races              312
         White                  13674
q3       Asian                    441
         Black                   1975
         Other Races              165
         White                  12629
q4       Asian                   1182
         Black                   1783
         Other Races              190
         White                  16719

In [58]:
race2.num_of_employee.sum()

74707

In [59]:
# Sex
gender = data.groupby(['quartile'])['SEX'].value_counts().sort_index()
gender = pd.DataFrame(gender)
gender.columns = ['num_of_employee']
gender = gender.reset_index()
gender.loc[gender['SEX']== 1, 'gender2']='Male'
gender.loc[gender['SEX']== 2, 'gender2']= 'Female'

gender2 = gender.groupby(['quartile', 'gender2'])['num_of_employee'].sum()
gender2 = pd.DataFrame(gender2)
gender2

                  num_of_employee
quartile gender2
q1       Female              8698
         Male               13482
q2       Female              9471
         Male                7972
q3       Female              7643
         Male                7567
q4       Female             10075
         Male                9799

In [60]:
gender2.num_of_employee.sum()

74707

In [61]:
# AGE
age = data.groupby(['quartile'])['AGE'].value_counts().sort_index()
age = pd.DataFrame(age)
age.columns = ['num_of_employee']
age = age.reset_index()

In [62]:
age

    quartile  AGE  num_of_employee
0         q1   18              723
1         q1   19              712
2         q1   20              739
3         q1   21              724
4         q1   22              712
5         q1   23              665
6         q1   24              591
7         q1   25              576
8         q1   26              506
9         q1   27              584
10        q1   28              557
11        q1   29              535
12        q1   30              544
13        q1   31              494
14        q1   32              453
15        q1   33              437
16        q1   34              451
17        q1   35              469
18        q1   36              392
19        q1   37              396
20        q1   38              448
21        q1   39              402
22        q1   40              377
23        q1   41              426
24        q1   42              426
25        q1   43              432
26        q1   44              445
27        q1   45              464
28        q1   46              568
29        q1   47              521
..       ...  ...              ...
142       q4   31              502
143       q4   32              517
144       q4   33              573
145       q4   34              582
146       q4   35              558
147       q4   36              553
148       q4   37              566
149       q4   38              590
150       q4   39              515
151       q4   40              466
152       q4   41              542
153       q4   42              561
154       q4   43              549
155       q4   44              507
156       q4   45              525
157       q4   46              484
158       q4   47              561
159       q4   48              568
160       q4   49              641
161       q4   50              521
162       q4   51              483
163       q4   52              505
164       q4   53              590
165       q4   54              508
166       q4   55              466
167       q4   56              526
168       q4   57              468
169       q4   58              506
170       q4   59              450
171       q4   60              430

[172 rows x 3 columns]

In [65]:
bins = np.array([17,20,30,40,50,60])
groups = age.groupby(('quartile',pd.cut(age.AGE, bins)))
out = groups.sum().dropna()

C:\Users\yfeng\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.

In [66]:
out

                   AGE  num_of_employee
quartile AGE
q1       (17, 20]   57             2174
         (20, 30]  255             5994
         (30, 40]  355             4319
         (40, 50]  455             4941
         (50, 60]  555             4752
q2       (17, 20]   57              527
         (20, 30]  255             3874
         (30, 40]  355             3916
         (40, 50]  455             4340
         (50, 60]  555             4786
q3       (17, 20]   57              154
         (20, 30]  255             2773
         (30, 40]  355             3933
         (40, 50]  455             4192
         (50, 60]  555             4158
q4       (17, 20]   57              149
         (20, 30]  255             3912
         (30, 40]  355             5422
         (40, 50]  455             5459
         (50, 60]  555             4932

In [67]:
out.sum()

AGE                 6708
num_of_employee    74707
dtype: int64